{% extends "layout.html" %}
{% block title %}
{{title}}{% endblock %}
{% block heading %}
{{title}}{% endblock %}
{% block content %}
{% load static %}






<style>
    .btnsubmit {
        width: 80px;
        height: 35px;
    }
</style>

                        
                <div class="row mt-2">
                    <div class="col-lg-10">
                        <form method="post" style="margin-top: 5%" action="{% url 'DIN_KYC' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-3 text-center">
                                    <label for="DIN no">DIN no</label>
                                </div>
                                <div class="col-lg-6 col-12 mb-3 text-center">
                                    <input type="text" name="DIN_no" maxlength="24" required id="id_DIN_no">
                                </div>
                                <div class="col-12 text-center">
                                    <input type="submit" class="btn btn-primary btnsubmit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               
                {% if a == True %}
                <div class="container col-lg-8 mt-5">
                    <table class="table">

                        <tbody>
                            {% for each in data %}
                            <tr>
                              <td>Din no</td>
                              <td>{{each.din_no}}</td>
                            </tr>
                            <tr>
                              <td>KYC date</td>
                              <td>{{each.KYC_date}}</td>
                            </tr>
                            <tr>
                              <td>KYC year</td>
                              <td>{{each.KYC_year}}</td>
                            </tr>
                              <tr>
                                <td>KYC proof</td>
                                <td>
                                  {% if each.KYC_proof %}
                                  <a href="/media/{{each.KYC_proof}}">KYC_proof</a>
                                  {% else %}
                                  KYC_proof not uploaded
                                  {% endif %}
                               </td>
                              </tr>
                              
                              <tr>
                                <td>Remarks</td>
                                    <td>
                                        {{each.Remarks}}
                                    </td>
                              </tr>
                              <tr> <td style="text-align: center ">
                                <a href=" {% url 'DIN_KYC_edit' %}{{ each.din_no }}" class="btn btn-primary btnsubmit">Edit</a>
                              </td> </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>

    {% if a == False %}
    <div id="InfoBanner">
        <span class="reversed reversedRight">
          <span>
            &#9888;
          </span>
        </span>
        <span class="reversed reversedLeft">
          Warning {{errors}}!!
        </span>
    </div>
    {% endif %}



{% endblock %}