{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block heading %}
Home
{% endblock %}
{% block content %}
    <!-- <h2>Logged messages</h2> -->

    <p>Hi,
        This is a place to access all the client data from one place.<br>
        Steps to follow:
        <ol>
            <li>Check the type of client</li>
            <li>Go to the view tab of the client type.</li>
            <li>Get the Code no. of the client.</li>
            <li>Enter the code no. and submit.</li>
            <li>Copy or print the documents required.</li>
        </ol> 
    </p>
{% endblock %}