{% extends "layout.html" %}
{% block title %}
{{title}}{% endblock %}
{% block heading %}
{{title}}{% endblock %}
{% block content %}
{% load static %}






<style>
    .btnsubmit {
        width: 80px;
        height: 35px;
    }
</style>

                        
                <div class="row mt-2">
                    <div class="col-lg-10">
                        <form method="post" style="margin-top: 5%" action="{% url 'personal_data' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-3 text-center">
                                    <label for="Code no">Code no</label>
                                </div>
                                <div class="col-lg-6 col-12 mb-3 text-center">
                                    <input type="text" name="code_no" maxlength="4" required id="id_code_no">
                                </div>
                                <div class="col-12 text-center">
                                    <input type="submit" class="btn btn-primary btnsubmit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-10">
                      <form method="post" style="margin-top: 5%" action="{% url 'personal_data_name' %}">
                          {% csrf_token %}
                          <div class="row">
                              <div class="col-lg-6 col-12 mb-3 text-center">
                                  <label for="Name">Name</label>
                              </div>
                              <div class="col-lg-6 col-12 mb-3 text-center">
                                  <input type="text" name="name" maxlength="15" required id="id_name">
                              </div>
                              <div class="col-12 text-center">
                                  <input type="submit" class="btn btn-primary btnsubmit" value="Submit">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
                {% if a == True %}
                <div class="container col-lg-8 mt-5">
                    <table class="table">

                        <tbody>
                          <tr>
                            <td>Code no</td>
                         
                            
                          
                            <td>Name</td>
                                                      
                          
                            <td>Pan no</td>
                          
                            
                          
                            <td>Gst no</td>
                         
                            
                          
                            <td>Din no</td>
                          
                            
                          
                            <td>PTEC no</td>
                          
                          

                         <td style="text-align: center ">
                            EDIT
                          </td> 
			</tr>                        
                            {% for each in data %}
                            <tr>
                              <td><a href=" {% url 'personal_data' %}{{ each.code_no }}">{{ each.code_no }}</a></td>
                            
                              
                            
                              <td>{{each.name}}</td>
                            
                              
                            
                              <td>{{each.pan_no}}</td>
                            
                              
                            
                              <td>{{each.gst_no}}</td>
                            
                              
                            
                              <td><a href=" {% url 'DIN_KYC' %}{{each.din_no}}">{{each.din_no}} </a></td>
                            
                              
                            
                              <td><a href=" {% url 'PTEC' %}{{each.PTEC_no}}">{{each.PTEC_no}}</a></td>
                            
                             <td style="text-align: center ">
                              <a href=" {% url 'personal_data_edit' %}{{ each.code_no }}" class="btn btn-primary btnsubmit">Edit</a>
                            </td> </tr>
                          
                            {%endfor%}
                        </tbody>
                    </table>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>

    {% if a == False %}
    <div id="InfoBanner">
        <span class="reversed reversedRight">
          <span>
            &#9888;
          </span>
        </span>
        <span class="reversed reversedLeft">
          Warning {{errors}}!!
        </span>
    </div>
    {% endif %}



{% endblock %}