{% extends "layout.html" %}
{% block title %}
{{title}}{% endblock %}
{% block heading %}
{{title}}{% endblock %}
{% block content %}
{% load static %}






<style>
    .btnsubmit {
        width: 80px;
        height: 35px;
    }
</style>

                        
                {% if a == True %}
                <div class="container col-lg-8 mt-5">
                    <table class="table">

                        <tbody>
                            {% for each in data %}
                            <tr>
                                <td>Code no</td>
                                <td>{{each.code_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Name</td>
                                <td>{{each.name}}</td>
                              </tr>
                              <tr>
                                <tr>
                                    <td>Passport Size Photo</td>
                                    <td>
                                    {% if each.passport_size_photo %}
                                        <a href="/media/{{each.passport_size_photo}}">Passport Size Photo</a>
                                        {% else %}
                                        Passport Size Photo not uploaded
                                      {% endif %}
                                      
                                      </td>
                                  </tr>

                                <tr>
                                    <td>Pan card</td>
                                    <td>
                                    {% if each.pan_card %}
                                      <a href="/media/{{each.pan_card}}">Pan Card</a>
                                    {% else %}
                                      Pan Card not uploaded
                                    {% endif %}
                                    </td>
                                  </tr>
                              <tr>
                                
                              <tr>
                                <td>Pan no</td>
                                <td>{{each.pan_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Aadhar Card</td>
                                <td>
                                  {% if each.aadhar_card %}
                                    <a href="/media/{{each.aadhar_card}}">Aadhar</a>
                                    {% else %}
                                    Aadhar not uploaded
                                    {% endif %}
                                </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Aadhar Card No</td>
                                <td>{{each.aadhar_card_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Passport</td>
                                <td>
                                  {% if each.passport %}
                                    <a href="/media/{{each.passport}}">Passport</a>
                                    {% else %}
                                    Passport not uploaded
                                    {% endif %}
                                </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>passport no</td>
                                <td>{{each.passport_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Driving Licence</td>
                                <td>
                                  {% if each.driving_licence %}
                                  <a href="/media/{{each.driving_licence}}">Driving Licence</a>
                                  {% else %}
                                  Driving Licence not uploaded
                                  {% endif %}
                              </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Driving Licence No</td>
                                <td>{{each.driving_licence_no}}</td>
                              </tr>
                              <tr>
                              <tr>
                                <td>Gst</td>
                                <td>
                                  {% if each.gst %}
                                  <a href="/media/{{each.gst}}">Gst</a>
                                  {% else %}
                                  Gst not uploaded
                                  {% endif %}
                               </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Gst no</td>
                                <td>{{each.gst_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Din</td>
                                <td>
                                  {% if each.din %}
                                  <a href="/media/{{each.din}}">DIN</a>
                                  {% else %}
                                  DIN not uploaded
                                  {% endif %}
                              </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Din no</td>
                                <td>{{each.din_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>PTEC</td>
                                <td>
                                  {% if each.PTEC %}
                                  <a href="/media/{{each.PTEC}}">PTEC</a>
                                  {% else %}
                                  PTEC not uploaded
                                  {% endif %}
                               </td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>PTEC no</td>
                                <td>{{each.PTEC_no}}</td>
                              </tr>
                              <tr>
                                
                              <tr>
                                <td>Remarks</td>
                                    <td>
                                        {{each.Remarks}}
                                    </td>
                              </tr>
                              <tr> <td style="text-align: center ">
                                <a href=" {% url 'personal_data_edit' %}{{ each.code_no }}" class="btn btn-primary btnsubmit">Edit</a>
                              </td> </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <hr>
                {% endif %}
            </div>
        </div>
    </div>

    {% if a == False %}
    <div id="InfoBanner">
        <span class="reversed reversedRight">
          <span>
            &#9888;
          </span>
        </span>
        <span class="reversed reversedLeft">
          Warning {{errors}}!!
        </span>
    </div>
    {% endif %}



{% endblock %}